.authorQuotesContainer {
  height: 100vh;
}

.authorQuotesContent{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.authorQuotesContent h1 {
  font-family: Raleway;
  font-size: 36px;
  color: #333333;
  margin-left: 110px;
}

.authorQuotesContent ul li {
  margin: 150px 0;
  list-style: none;
}