header {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
}

header button {
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor:pointer;
  outline: transparent;
  color: #333333;
  margin-right: 70px;
}
